extends layout

include ./mixins/button.pug
include ./mixins/divider.pug

block headers
	
block content
	.w-90.mx-auto.my-4
		.d-flex.justify-content-between.m-0
			.buttons-sidebar.mr-2
				.d-flex.flex-wrap.justify-content-center.my-3
					+button("green", "far",  "fa-save")
					+button("darkorange", "fas",  "fa-bars")
					+button("darkorange", "far",  "fa-copy")
					+button("darkorange", "fas",  "fa-share-alt")
					+divider
					+button("sandybrown", "fas",  "fa-pencil-alt")
					+button("sandybrown", "fas",  "fa-pen")
					+button("sandybrown", "fas",  "fa-palette")
					+button("sandybrown", "fas",  "fa-eraser")
					+button("sandybrown", "fas",  "fa-shapes")
					+button("sandybrown", "far",  "fa-smile")
					+button("sandybrown", "far",  "fa-images")
					+button("sandybrown", "fas",  "fa-crop-alt")
					+button("sandybrown", "fas",  "fa-undo-alt")
					+button("sandybrown", "fas",  "fa-redo-alt")
					+button("sandybrown", "fas",  "fa-microphone")
					+button("sandybrown", "fas",  "fa-microphone-slash")
					+button("sandybrown", "fas", "fa-play", "sandybrown", true)


				
			.canvas.flex-grow-1.bg-white
				canvas#canvasapp
					script(src="javascripts/script.js")
					


		
