extends layout

include ./mixins/button.pug
include ./mixins/colorPicker.pug
include ./mixins/divider.pug

block headers
	
block content
	.w-90.mx-auto.my-4
		.d-flex.justify-content-between.m-0
			.buttons-sidebar.mr-2
				.d-flex.flex-wrap.justify-content-center.my-3
					+button("green", "far",  "fa-save", "saveAsImage()")
					+button("darkorange", "fas",  "fa-bars")
					+button("darkorange", "far",  "fa-copy", "copyPaste()")
					+button("darkorange", "fas",  "fa-share-alt")
					+button("red", "fas",  "fa-times", "clearCanvas()")
					+divider
					+button("sandybrown", "fas",  "fa-arrows-alt", "cursor()")
					+button("sandybrown", "fas",  "fa-pencil-alt", "drawingPencil()")
					+button("sandybrown", "fas",  "fa-pen", "drawingPen()")
					+colorPicker("sandybrown", "fas",  "fa-palette")
					+button("sandybrown", "fas",  "fa-eraser", "drawingEraser()")
					+button("sandybrown", "fas",  "fa-shapes", "addShape()")
					+button("sandybrown", "far",  "fa-smile")
					+button("sandybrown", "far",  "fa-images", "addImage()")
					+button("sandybrown", "fas",  "fa-crop-alt")
					+button("sandybrown", "fas",  "fa-undo-alt", "undo()")
					+button("sandybrown", "fas",  "fa-redo-alt", "redo()")
					+button("sandybrown", "fas",  "fa-microphone", "addShape('triangle')")
					+button("sandybrown", "fas",  "fa-microphone-slash", "addShape('circle')")
					+button("darkorange", "fas", "fa-play", "addShape()", true)

				
			.canvas.flex-grow-1.bg-white
				canvas#canvasapp
					script(src="javascripts/script.js")
					


		
