mixin audioDisplay
	.audio-display.w-25.d-flex
		i.text-white.fas.fa-microphone.m-4(style="font-size: 1em")
		.align-self-stretch.flex-grow-1.p-2
			canvas#analyser.w-100.h-100
		
	style(type='text/css').

		.audio-display {
			position: absolute;
			top: 10px;
			right: 10px;

			background-color: darkorange;
			opacity: 0.8;
			color: white;
			border-radius: var(--canvas-border-radius);

		}
		#analyser{
			margin-bottom: -30px;
		}