mixin audioRecorder(color, type, style)
	.m-1.btn-box(style='width:53px; height:53px; background-color: ' + color + '; ')
		#audio-rec-btn.h-100.w-100.d-flex.justify-content-center.align-items-center
			i.text-white(class=type + ' ' + style style="font-size: .8em")
		input#recorder.hidden(type="file" accept="audio/*")
		audio#player.hidden(onended="audioEnded()" controls)