mixin button(type, style, color)
	style(type='text/css').
		.btn-box {
			border: 1px solid lightgrey;
			border-radius: 26px;
		}
	.btn-box(style='width:53px; height:53px; background-color: ' + color + '; ')
		div.h-100.w-100.d-flex.justify-content-center.align-items-center
			i.text-white(class=type + ' ' + style style="font-size: .8em")
		